h1, h2{
    text-align: center;
    color: white;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    font-size: 1.5em;
    color: white;
  }
  
  #button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
  }
  
  #button button {
    padding: 15px 25px;
    font-size: 18px;
    border: 2px solid white;
    background-color: white;
    color: #333;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #button button:hover {
    background-color: #86BA90;
    color: white;
  }
  
  #display {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    letter-spacing: 5px;
  }
  
  #clear {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    border: 2px solid white;
    background-color: #DF2935;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #clear:hover {
    background-color: #611016;
  }
  